@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap');


.content__container {
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
    width: 100%;
    gap: 1rem;
    background-color: var(--purple);
}